/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

.ridersclass li{ float: left; width: 33%}

.spinner-myimg {
background: url("../img/loading.gif") no-repeat;
width: 400px;
height: 1000px;

}



.wrap #header-area .logo {
float: left;
margin: 17px 20px;
background: none;
width: auto;
}

.wrap #header-area .emg-icon-option-left {
float: left;
height: 64px;
width: 64px;
background: url(../img/left-cycl-op.png) no-repeat;
margin: 0 20px 0 0;
}

.wrap #header-area .emg-cp-title {
width: 450px;
}

.wrap #header-area .logo h2 {
font-style: normal !important;
font-weight: normal !important;
font-size: 21px !important;
color: #6A6A6A !important;
font-family: Arial, Helvetica, sans-serif !important;
}


.wrap #header-area {
height: 80px;
width: auto;
background: #dfdfdf url(../images/gray-grad.png) repeat-x left top;
border: 1px solid #ccc;
border-top-left-radius: 6px;
-moz-border-radius-topleft: 6px;
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
border-top-right-radius: 6px;
-moz-border-radius-topright: 6px;
}

.wrap #main-area {
background-color: #F5F5F5;
border-top: 1px solid #EBEBEB;
border-left: 1px solid #d8d8d8;
border-right: 1px solid #d8d8d8;
border-bottom: 1px solid #d8d8d8;
padding: 4%;
}


._main-row{ border: 1px solid #d8d8d8}
.cy-option-left li{ width: 100%;border-bottom: 2px solid #d8d8d8;}

.padding0{padding: 0 !important}

.right-op-panel{background-color: #FCFCFC; border-left: 1px solid #d8d8d8; min-height: 500px !important }


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{width: 101%;
z-index: 999; border: 0px !important; background-color: #fff !important;}
.cy-option-left li a{background-color: #eee !important;
border-radius: 0 !important;
margin: 0 !important;
border: 0 !important;
outline: 0 !important;}

.tab-pane{padding: 2%;}
.countries-list li{width: 33%; float: left}

.countries-list li label input{float: left;}
.countries-list li label span{padding: 2px 0px 0px 2px; float: left;}

.of-info-cy-main{padding: 15px 10px;
line-height: 1.2em;
font-size: 13px;
background-color: #E7E6E6;
border: 1px solid #D0D0D0;
color: #9D9D9D;
overflow: hidden; margin-bottom: 10px}

.cy-checkbox input{float: left;}

.cy-checkbox span{padding: 3px 0px 0px 2px; float: left;}

.of-info-cy{padding: 5px 5px;
line-height: 1.2em;
font-size: 13px;
background-color: #eee;

color: #9D9D9D;
overflow: hidden; margin-bottom: 10px}

.cy-checkbox input{float: left;}

.cy-checkbox span{padding: 3px 0px 0px 2px; float: left;}